<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audio player</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/projetASPC.styles.css" asp-append-version="true" /> *@
</head>
 <script>
    
    let currentState = "dark";
    let savedState = localStorage.getItem("state");

      // Check if the state already exist
     if (savedState) currentState = savedState;
    

 </script>
    
<body id="dark-body" onload="getThemeState(currentState)">    
    <div class="container">
        <div class="">
            <nav id="topbar-dark">
                <div class="logo">
                    <img src="~/images/logo.png"  alt="logo">
                </div>
                <div>
                    <ul  class="menu">
                        <li onclick="getThemeState('white')"  style="cursor:pointer"><button id="light-btn">White Mode</button></li>
                        <li onclick="getThemeState('dark')"  style="cursor:pointer"><button id="dark-btn">Dark Mode</button></li>
                        <li><a asp-controller="Home" asp-action="Index">Mes playlists</a></li>
                        <li><a asp-controller="Favoris" asp-action="Index">Mes favoris</a></li>
                        <li><a href="">Laurion Dareich</a></li>
                        <li><a href="">Se deconnecter</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer>
            <div class="container text-color-white">
                &copy; 2022 - projetASPC 
            </div>
        </footer>
    </div>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="~/js/wavesurfer.js"></script>
     <script src="~/js/theme.js"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
