@model MusicAudioPlayer.Models.Music

<div id="playlistForm">
    @using (Html.BeginForm("Create", "Music")) {

        <div>
            <label for="title">Titre de la chanson</label>
            @Html.TextBoxFor(m => m.title)
        </div>
        <div>
            <label for="author">Artiste</label>
            @Html.TextBoxFor(m => m.author) 
        </div>
         <div>
            <label for="published">Date de sortie</label>
            @Html.TextBoxFor(m => m.published) 
        </div>
        <div>
            <label for="file_path">Lien de la chanson</label>
            @Html.TextBoxFor(m => m.file_path) 
        </div>
        <button type="submit" class="btn-playlsit" style="margin-top: 20px;">Ajouter</button>
    }

</div>
