
        <div class="middle">
             <div class="entry-info dark-title">
                <h1>Bienvenue sur votre site de musique</h1>
                <p>Ecoutez de la musique partout où vous êtes.</p>
                <a class="btn-create text-color-white" asp-controller="Playlist" asp-action="NewPlaylist">Créer une nouvelle playlist</a>
            </div>
            <div class="picture">
                <img src="~/images/picture.jpg" height="500" alt="picture">
            </div>
        </div>

        <div>
            <div class="play-list-row" id="color-white">
                <h2  id="border-white">Mes playlists</h2>
                @foreach(var playlist in Model.Myplaylist){
                    <div class="play-list-item">
                        <img src="@Url.Content(playlist.imagePath)" height="200" alt="">
                        <p>@playlist.title</p>
                        <button class="btn-playlsit text-color-white">Renommer</button>
                        @Html.ActionLink("Consulter", "Display", "Playlist", new {Id = playlist.Id}, new {@class="btn-playlsit text-color-white"})
                    </div>
                }
            </div>
        </div>