    <div class="playlists-view">
        <div>
            <div class="playlist-entry">
                <img src="~/images/picture.jpg" height="200" alt="image"> <br> <br>
                <span class="text-color-white">200 chansons</span> <br> <br>
                <button class="btn-create text-color-white" style="float:right;">Ajouter une chanson</button>
            </div>
            <h2 class="text-color-white">Nom de ma playlist</h2>
        </div>
       
        <div class="main-music">
            <div class="main-music-item">
                <div>
                    <p class="text-color-white">Le titre de ma chanson</p>
                    <span class="text-color-grey">Auteur : Le prod com  </span> <br>
                    <span class="text-color-grey">Date de sortie :  12/01/2021</span>
                </div>
                <div class="main-music-btn">
                    <button>Editer</button>
                    <button>Supprimer</button>
                    <img src="play.png" height="50" alt="">
                </div>
                
            </div>
            <div class="main-music-item">
                <div>
                    <p class="text-color-white">Le titre de ma chanson</p>
                    <span class="text-color-grey">Auteur : Le prod com  </span> <br>
                    <span class="text-color-grey">Date de sortie :  12/01/2021</span>
                </div>
                <div class="main-music-btn">
                    <button>Editer</button>
                    <button>Supprimer</button>
                    <img src="play.png" height="50" alt="">
                </div>
                
            </div>
            <div class="main-music-item">
                <div>
                    <p class="text-color-white">Le titre de ma chanson</p>
                    <span class="text-color-grey">Auteur : Le prod com  </span> <br>
                    <span class="text-color-grey">Date de sortie :  12/01/2021</span>
                </div>
                <div class="main-music-btn">
                    <button>Editer</button>
                    <button>Supprimer</button>
                    <img src="play.png" height="50" alt="">
                </div>
                
            </div>
        </div>
    </div>